DATABASE_URL="postgresql://[NOMBRE_DE_USUARIO]:[TU_PASSWORD]@[HOST]:[PUERTO]/[NOMBRE_DB]"
JWT_SECRET="una-clave-super-segura-y-larga"
PORT=3000

USER_PLATFORM_EMAIL="johndoe@gmail.com"
USER_PLATFORM_PASSWORD="johndoe1234"
USER_PLATFORM_FIRSTNAME="John"
USER_PLATFORM_LASTNAME="Doe"
USER_PLATFORM_PHONE="1234567"
USER_PLATFORM_BIRTHDATE="1995-05-24"
USER_PLATFORM_GENDER="Masculino"
USER_PLATFORM_AVATAR_URL="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.RBQzhkTkmezVZIww-w7TfQHaHa%3Fpid%3DApi&f=1&ipt=181d251894085b801fc740221b10139a564344746d1b89b41b5db158fe8e6df4&ipo=images"